
    $green-dark: #03291F;
    $green-light: #B5C6C1;
    $deep-brown: #453B3B;
    $whitesmoke-text: #b1b1b1;
    $whitesmoke: #f1f1f1;
    $light-grey: #e7ebea;
    $orange: #ff5900;
    $orange-transparent: #ff59002e;
    $orange-700: #a3430f;
    $orange-ligth: #ffeee5;
    $transition-duration: 0.4s
