@import "../../globals/mixins.scss";
@import "../../globals/variables.scss";

.HeaderSite {
    width: 100%;
    background: white;
    border-bottom: 1px solid $orange;
    position: relative;

    @include for-phone-and-tablet {
        padding: 6px 0;
    }

    &-topBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        @include for-phone-and-tablet {
            height: auto;
        }
    }

    &-logoLink {
        width: max-content;
    }

    &-a {
        width: max-content;
        position: relative;
        display: flex;
        align-items: end;
    }

    &-title {
        color: $orange;
        font-size: 26px;
        font-weight: 500;
    }

    &-span {
        color: $orange;
        font-size: 18px;
    }

    @include for-phone {
        &-title {
            font-size: 20px;
        }

        &-span {
            font-size: 14px;
        }
    }

    &-menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include for-phone-and-tablet {
            display: none;
        }

    }

    &-nav {
        height: 100%;
    }

    &-linkList {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0%;

        @include for-phone-and-tablet {
            flex-direction: column;
            align-items: start;
            gap: 12px;
        }
    }

    &-link {
        font-size: 14px;
        color: #03291F;
        margin: 0 1rem;
        white-space: nowrap;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            height: 6px;
            width: 100%;
            background-color: $orange;
            display: none;
        }

        &:hover {
            &::before {
                display: block;
            }
        }

        @include for-phone-and-tablet {
            height: auto;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            padding: 6px 4px;

            &:hover {
                background: var(--orange-transparent);
            }

            &::before {
                content: none;
                height: 100%;
                background: var(--orange-transparent);
            }
        }
    }

    &-btnSubscribe {
        background: $orange !important;
        border: 1px solid $orange !important;

        >a {
            color: white;
            text-transform: uppercase;
            font-weight: 600;
        }

        &:hover {
            background: none !important;
            color: $orange !important;

            >a {
                color: $orange;
            }
        }

        @include for-phone {
            font-size: 14px !important;
            padding: 10px 1rem !important;
        }
    }

    &-contactNumber {
        position: absolute;
        top: 100%;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 1rem 6px 3rem;
        width: 30%;
        background: $orange;
        color: white;
        font-size: 16px;
        font-weight: 600;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);

        @include for-phone-and-tablet {
            clip-path: none;
            width: 100%;
            padding-left: 10px;
            // display: none;
        }
    }
}